*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

img {
  max-width: 100%;
}

.fond__gris {
  background-color: #f6f6f6;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 500;
  font-size: 26px;
}

p {
  font-weight: 300;
}

.titre {
  margin-bottom: 25px;
}

.prix {
  font-weight: bold;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#e771da), to(#a55cdb));
  background: linear-gradient(#e771da, #a55cdb);
  border: transparent;
  padding: 20px;
  border-radius: 35px;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 6px #cfcfcf;
          box-shadow: 0 5px 6px #cfcfcf;
}

.btn:hover {
  opacity: 0.7;
  -webkit-box-shadow: 1px 1px 15px black;
          box-shadow: 1px 1px 15px black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.menu__btn__commander {
  background: -webkit-gradient(linear, left top, left bottom, from(#e771da), to(#a55cdb));
  background: linear-gradient(#e771da, #a55cdb);
  border: transparent;
  padding: 20px;
  border-radius: 35px;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 6px #cfcfcf;
          box-shadow: 0 5px 6px #cfcfcf;
  padding: 20px 50px;
}

.menu__btn__commander:hover {
  opacity: 0.7;
  -webkit-box-shadow: 1px 1px 15px black;
          box-shadow: 1px 1px 15px black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.coeur__conteneur {
  cursor: pointer;
}

.coeur__conteneur:hover .coeur__vide {
  opacity: 0;
}

.coeur__conteneur:hover .coeur__plein {
  opacity: 1;
  -webkit-animation: mouvementCoeur 1s ease infinite;
          animation: mouvementCoeur 1s ease infinite;
}

.coeur__vide {
  height: 35px;
}

.coeur__plein {
  position: absolute;
  width: 25px;
  height: 35px;
  background: url("https://community.algolia.com/places/images/svg/icon-heart-light-fc92b1e0.svg") no-repeat center center/contain;
  right: 5px;
  opacity: 0;
}

@-webkit-keyframes mouvementCoeur {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes mouvementCoeur {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 5px;
}

header .retour {
  position: absolute;
  left: 15px;
  font-size: 30px;
}

header .logo {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  height: 30px;
}

.header__index {
  -webkit-box-shadow: 0 6px 6px #cfcfcf;
          box-shadow: 0 6px 6px #cfcfcf;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #eaeaea;
  margin-top: 2px;
}

.location__icone {
  margin-right: 10px;
}

.location__icone img {
  height: 18px;
}

.location__texte {
  border: none;
  width: 140px;
  background-color: #eaeaea;
  font-size: 17px;
  font-weight: bold;
}

.reserver {
  height: 290px;
  text-align: center;
  padding: 30px 45px 0 45px;
}

.reserver p {
  margin-bottom: 30px;
}

.fonctionnement {
  margin: 50px 25px 65px 20px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .fonctionnement__annonces {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.fonctionnement__annonce {
  padding: 22px;
  -webkit-box-shadow: 0px 10px 15px #e6e6e6;
          box-shadow: 0px 10px 15px #e6e6e6;
  margin: 0 0 25px 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 20px;
}

@media screen and (min-width: 1024px) {
  .fonctionnement__annonce {
    width: 435px;
  }
}

.fonctionnement__annonce:hover {
  background-color: #f5edff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fonctionnement__annonce:hover .fonctionnement__image i {
  color: #9356DC;
}

.fonctionnement__numero {
  position: absolute;
  left: -15px;
  background-color: #9356DC;
  color: #FFFFFF;
  height: 30px;
  width: 30px;
  padding: 7px;
  text-align: center;
  border-radius: 20px;
}

.fonctionnement__image {
  left: -25px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .fonctionnement__image {
    left: -55px;
  }
}

.fonctionnement__image i {
  font-size: 25px;
}

.fonctionnement__texte {
  font-weight: 600;
}

.restaurants {
  padding: 35px 15px 40px 15px;
}

@media screen and (min-width: 1024px) {
  .restaurants__annonces {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.restaurants__annonce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 255px;
  margin: 0 5px 15px 5px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 15px #e6e6e6;
          box-shadow: 0px 10px 15px #e6e6e6;
  background-color: #FFFFFF;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .restaurants__annonce {
    width: 675px;
  }
}

.restaurants__annonce-image {
  top: -55px;
  position: absolute;
}

.restaurants__annonce-image-2 {
  top: -155px;
  position: absolute;
}

.restaurants__annonce-image-3 {
  top: -50px;
  position: absolute;
}

.restaurants__annonce-nouveau {
  background-color: #99e2d0;
  border-radius: 2px;
  color: #008766;
  padding: 7px;
  top: 15px;
  right: 20px;
  position: absolute;
}

.restaurants__annonce-nouveau p {
  font-size: 14px;
  font-weight: 600;
}

.restaurants__annonce-texte {
  background-color: #FFFFFF;
  height: 80px;
  width: 100%;
  bottom: 0;
  padding: 13px 0 0 15px;
  line-height: 25px;
  position: absolute;
}

.restaurants__annonce-icone {
  bottom: 25px;
  right: 20px;
  position: absolute;
}

.contenu__menu {
  position: relative;
  border-radius: 40px 40px 0 0;
  top: -50px;
  padding: 0 15px 0 15px;
}

.contenu__menu__titre-coeur {
  padding: 15px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenu__menu__coeur-plein {
  position: absolute;
  width: 25px;
  height: 35px;
  background: url("https://community.algolia.com/places/images/svg/icon-heart-light-fc92b1e0.svg") no-repeat center center/contain;
  right: 24px;
}

.contenu__menu .menu {
  margin: 20px 0 35px 0;
  -webkit-animation: menuAnimation 1s ease forwards;
          animation: menuAnimation 1s ease forwards;
}

.contenu__menu .menu h2 {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
}

.contenu__menu .menu__bordure:after {
  content: "";
  height: 4px;
  width: 50px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.contenu__menu .menu__annonce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  border-radius: 15px;
  -webkit-box-shadow: 5px 10px 15px #e6e6e6;
          box-shadow: 5px 10px 15px #e6e6e6;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  line-height: 30px;
  overflow: hidden;
}

.contenu__menu .menu__annonce:hover .affichage__valider {
  -webkit-animation: agrandi 4s ease;
          animation: agrandi 4s ease;
  width: inherit;
  -webkit-transition: -webkit-animation 5s;
  transition: -webkit-animation 5s;
  transition: animation 5s;
  transition: animation 5s, -webkit-animation 5s;
}

.contenu__menu .menu__annonce:hover .affichage__valider-icone {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.contenu__menu .menu__annonce:not(:hover) .affichage__valider {
  -webkit-animation: retreci .5s ease forwards;
          animation: retreci .5s ease forwards;
}

.contenu__menu .menu__annonce:not(:hover) .affichage__valider-icone {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.contenu__menu .menu__titre-texte-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px 10px 10px;
  min-width: 280px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contenu__menu .menu h3 {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

.contenu__menu .menu p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  padding-right: 5px;
}

.contenu__menu .menu__texte-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenu__menu .menu .affichage__valider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  max-width: 75px;
  width: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.contenu__menu .menu .affichage__valider-icone {
  color: #FFFFFF;
  font-size: 24px;
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

@-webkit-keyframes menuAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes menuAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes agrandi {
  0% {
    -webkit-box-flex: 0;
            flex-grow: 0;
  }
  100% {
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
}

@keyframes agrandi {
  0% {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  100% {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@-webkit-keyframes retreci {
  0% {
    -webkit-box-flex: 1;
            flex-grow: 1;
  }
  100% {
    -webkit-box-flex: 0;
            flex-grow: 0;
  }
}

@keyframes retreci {
  0% {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  100% {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 35px 0 50px 20px;
  line-height: 25px;
}

.footer a {
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo img {
  height: 20px;
  margin-bottom: 15px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media screen and (min-width: 1024px) {
  .footer__infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .footer__info-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__info-2 a {
  font-weight: 300;
}

.footer__info-icone {
  margin-right: 10px;
}

.footer__info-icone i {
  font-size: 20px;
}

.conteneur__chargement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #353535;
  position: fixed;
  opacity: 0.9;
  z-index: 10;
  -webkit-animation: FinChargement 200ms 3s forwards;
          animation: FinChargement 200ms 3s forwards;
}

.conteneur__chargement .chargement {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  -webkit-animation: ChargementRotation 2s linear infinite;
          animation: ChargementRotation 2s linear infinite;
}

.conteneur__chargement .chargement::before, .conteneur__chargement .chargement::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.conteneur__chargement .chargement::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #FF79DA;
  -webkit-animation: ChargementRotation 3s linear infinite;
          animation: ChargementRotation 3s linear infinite;
}

.conteneur__chargement .chargement::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: #99E2D0;
  -webkit-animation: ChargementRotation 1.5s linear infinite;
          animation: ChargementRotation 1.5s linear infinite;
}

@-webkit-keyframes ChargementRotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ChargementRotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes FinChargement {
  to {
    visibility: hidden;
  }
}

@keyframes FinChargement {
  to {
    visibility: hidden;
  }
}

.photo {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .photo__menu {
    height: 465px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.photo__menu-lne {
  position: relative;
  top: -95px;
}

@media screen and (min-width: 1024px) {
  .photo__menu-lne {
    height: 640px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.contenu__menu-lne {
  position: relative;
  border-radius: 40px 40px 0 0;
  top: -50px;
  padding: 0 15px 0 15px;
  height: 1160px;
  top: -250px;
}
