* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.tailleTitreAnnonce {
    font-size: 18px;
}

.titreCoeur > i {
    font-size: 30px;
}

.fondGris {
    background-color: #f6f6f6;
}

@media screen and (max-width: 667px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0 5px 0;
    }

    .retour {
        font-size: 25px;
        padding-right: 60px;
    }

    .logo {
        padding-right: 80px;
    }
    
    .logo img {
        height: 30px;
    }

    .contenuMenu {
        position: relative;
        border-radius: 30px 30px 0 0;
        top: -45px;
        padding: 0 10px 0 10px;
    }

    .titreCoeur {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px 0 0;
    }

    .icone {
        color: #9356DC;
        cursor: pointer;
    }

    .icone:hover {
        background: linear-gradient(#a55cdb, #e771da);
        
    }

    .menu {
        margin: 20px 0 45px 0;
    }

    .menuAnnonce {
        display: flex;
        height: 80px;
        border-radius: 15px;
        box-shadow: 5px 10px 15px #e6e6e6;
        background-color: white;
        margin: 20px 0 20px 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .titreTextePrix {
        display: flex;
        flex-direction: column;
        padding: 10px 15px 10px 10px;
        width: 280px;
    }

    .textePrix {
        display: flex;
        justify-content: space-between;
    }

    .checkAffichage {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #99E2D0;
        width: 75px;
    }

    .check {
        color: white;
        font-size: 24px;
    }

    .btnCommander {
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }

    .btn {
        background: linear-gradient(#e771da, #a55cdb);
        border: transparent;
        padding: 20px 50px;
        border-radius: 35px;
        color: white;
        cursor: pointer;
    }

    .btn:hover {
        opacity: 0.7;
        box-shadow: 1px 1px 15px black;
    }


    footer {
        background-color: #353535;
        color: white;
        padding: 35px 0 50px 20px;
        line-height: 25px;
    }

    footer a {
        color: white;
    }

    .footer-logo img{
        height: 20px;
        margin-bottom: 15px;
    }

    .footerInfo {
        display: flex;
    }

    .infoIcone {
        margin-right: 10px;
    }

    .infoIcone i {
        font-size: 20px;
    }

}