.footer {
    background-color: #353535;
    color: $couleur-blanc;
    padding: 35px 0 50px 20px;
    line-height: 25px;
    a {
        color: $couleur-blanc;
    }
    &__logo {
        @include ordinateur {
            @include flex_centrer;
        }
    }
    &__logo img{
        height: 20px;
        margin-bottom: 15px;
        filter: invert(100%);
    }
    &__infos {
        @include ordinateur {
            @include flex;
            justify-content: space-evenly;
        }
    }
    &__info {
        @include flex;
    }
    &__info-2 {
        @include ordinateur {
            @include flex;
        }
        a {
            font-weight: 300;
        }
    }        
    &__info-icone {
        margin-right: 10px;
    }
        
    &__info-icone i {
        font-size: 20px;
    }
}
