.fonctionnement {
    margin: 50px 25px 65px 20px;
    @include position_relative;

    &__annonces {
        @include ordinateur {
            @include flex;
            justify-content: space-evenly;
        }
    }

    &__annonce {
        padding: 22px;
        box-shadow: 0px 10px 15px #e6e6e6;
        margin: 0 0 25px 15px;
        cursor: pointer;
        @include flex_centrer;
        @include position_relative;
        @include bord_arrondi;
        @include ordinateur {
            width: 435px;
        }
        &:hover {
            background-color: #f5edff;
            .fonctionnement__icone i {
                color: $couleur-primaire;
            }
        }
    }

    &__numero {
        position: absolute;
        left: -15px;
        background-color: $couleur-primaire;
        color: $couleur-blanc;
        height: 30px;
        width: 30px;
        padding: 7px;
        text-align: center;
        @include bord_arrondi;
    }

    &__icone {
        left: -22px;
        @include position_relative;
        @include ordinateur {
            left: -25px;
        }
    }

    &__icone i {
        font-size: 25px;
    }
    
    &__texte {
        font-weight: 600;
    }
}
