.location {
    height: 50px;
    background-color: $couleur-gris-fonce;
    margin-top: 2px;
    @include flex_centrer;

    &__icone {
        margin-right: 10px;
    }

    &__icone img {
        height: 18px;
    }

    &__texte {
        border: none;
        width: 140px;
        background-color: $couleur-gris-fonce;
        font-size: 17px;
        font-weight: bold;
    }
}
