.restaurants {
    padding: 35px 15px 40px 15px;
    &__annonces {
        @include ordinateur {
            @include flex_centrer;
            justify-content: space-around;
            :hover {
                box-shadow: 1px 1px 15px $couleur-primaire;
            }
        }
    }
    &__annonce {
        display: flex;
        position: relative;
        height: 255px;
        margin: 0 5px 20px 5px;
        border-radius: 20px;
        box-shadow: 0px 10px 15px $couleur-gris-fonce;
        background-color: $couleur-blanc;
        overflow: hidden;
        @include ordinateur {
            width: 675px;
        }
        :hover{
            box-shadow: none;
        }
    }
    &__annonce__image img {
        top: -55px;
        @include position_absolute;
    }
    &__annonce__image-2 img {
        bottom: -14px;
        @include position_absolute;
    }
    &__annonce__image-3 img {
        top: -50px;
        @include position_absolute;
    }
    &__annonce-nouveau {
        background-color: $couleur-tertiaire;
        border-radius: 2px;
        color: #008766;
        padding: 7px;
        top: 15px;
        right: 20px;
        @include position_absolute;
        p {
            padding: 2px 6px 0;
            font-weight: 600;
        }
    }
    &__annonce-texte {
        background-color: $couleur-blanc;
        height: 80px;
        width: 100%;
        bottom: 0;
        padding: 13px 0 0 15px;
        line-height: 25px;
        @include position_absolute;
    }
    &__annonce-icone {
        bottom: 25px;
        right: 20px;
        @include position_absolute;
    }
}
