.icone__coeur {
    height: 35px;
    font-size: 35px;
    cursor: pointer;
    background: linear-gradient(to bottom,rgba(165, 92, 219, 1), rgba(231, 113, 218, 1));
    color: transparent;
    background-clip: text;
    &:hover {
        transform: scale(1.1);
    }
}

.menu__coeur {
    color: $couleur-primaire;
    cursor: pointer;
    font-size: 30px;
    &:hover {
        background: linear-gradient(#a55cdb, #e771da);
    }
}