* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
}
.titre{
    margin-bottom: 25px;
}

p {
    font-weight: 300;
}

.prix {
    font-weight: bold;
}
