@media screen and (max-width: $mobile){
    .photo {
        position: relative;
        overflow: hidden;
        &__lne  {
            position: relative;
            top: -95px
        }
    }

    .contenu__menu-lne {
        @include contenu__menu;
        height: 1160px;
        top: -250px;
    }

    .menu__btn {
        @include flex_centrer;
        padding-bottom: 25px;
        &__commander {
            @include btn;
            padding: 20px 50px;
        }
    }
}