.photo {
    overflow: hidden;
    @include ordinateur {
        &__menu {
            height: 465px;
            @include photo__image;
        }
    }
    &__menu-lne  {
        position: relative;
        top: -95px;
        @include ordinateur {
            height: 640px;
            @include photo__image;
        }
    }
}

.contenu__menu-lne {
    @include contenu__menu;
    height: 1160px;
    top: -250px;
}
