@mixin ordinateur {
    @media screen and (min-width: $ordinateur){
       @content; 
    }
}

@mixin tablette {
    @media screen and (min-width: $tablette){
       @content; 
    }
}

@mixin mobile {
    @media screen and (max-width: $mobile){
       @content; 
    }
}

@mixin flex {
    display: flex;
}

@mixin flex_centrer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_espace_centrer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_colonne {
    display: flex;
    flex-direction: column;
}

@mixin bord_arrondi {
    border-radius: 20px;
}

@mixin position_relative {
    position: relative;
}

@mixin position_absolute {
    position: absolute;
}

@mixin contenu__menu {
    position: relative;
    border-radius: 40px 40px 0 0;
    top: -50px;
    padding: 0 15px 0 15px;
}

@mixin photo__image {
    width: 100%;
    object-fit: cover;
}

@mixin coeur_plein {
    position: absolute;
    height: 35px;
    opacity: 0;
    transition-duration: 0.6s;
}

@mixin texte_pointille {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
}

@mixin btn {
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    border: transparent;
    padding: 20px;
    border-radius: 35px;
    font-size: 16px;
    color: $couleur-blanc;
    cursor: pointer;
    box-shadow: 0 5px 6px #cfcfcf;
    &:hover {
        opacity: 0.7;
        box-shadow: 1px 1px 15px black;
        transform: scale(1.1);
    }   
}