$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-gris: #f6f6f6;
$couleur-violet: #c697ff;
$couleur-blanc: #FFFFFF;


$ordinateur: 1024px;
$tablette: 768px;
$mobile: 425px;

$position_icone-1: -19px;
$position_icone-2: -25px;